body {
    margin: 0px;
}

footer {
    background-color: darkgrey;
}

.flex-container {
    display: flex;
    background-color: lightgray;
    justify-content: center;
    flex-direction: column;
}
  
.flex-container > div {
    background-color: rgb(255, 255, 255);
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.footer-container {
    display: flex;
    background-color: rgb(56, 56, 56);
    justify-content: center;
}

.footer-container > div{
    background-color: rgb(56, 56, 56);
    margin: 2px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    color: grey;
}

.margin1 {
    margin-left: 10%;
    margin-right: 10%;
}

.margin1 > div {
    margin: 20px;
}

div.border {
    border: 1px solid black;
}

h1 {
    font-size: 300%;
    text-align: center;
    color: blue;
}

p1 {
    font-size: 100%;
    font-style: oblique;
}

h2 {
    text-align: center;
}